name: ReactJS-Github pages deployment

on:
  push:
    branches: [ src ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [12.x]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}

    - name: Configuring Git
      run: git config --global user.email "nobody@github.com" && git config --global user.name "Github Actions"

    - name: Preparing 
      run: git remote update && git fetch && git checkout master && git pull origin master && ls -pA | grep -v .git/ | xargs rm -rf && touch init && git add -A && git commit -m "Cleaning" && rm init && git add -A && git commit -m "Cleaning OK" && git push origin master && git checkout src && ls -la


    - name: Cache dependencies
      id: cache-node_modules
      uses: actions/cache@v1
      with:
        path: node_modules
        key: ${{ runner.os }}-node_modules
    
    - name: Download dependencies
      run: mv node_modules/.yarn .yarn ; ls -la ; yarn install --prefer-offline --pure-lockfile --cache-folder .yarn --modules-folder node_modules ; mv .yarn node_modules/.yarn ; ls -la

    - name: Deploying
      run: yarn dist
      env:
        CI: true
